<html>
<head>
  <title>Learn Page</title>  
</head>
<body>
  <nav-bar></nav-bar>

  <div id="ce-es5-shim">
    <script type="text/javascript">
      if (!window.customElements) {
        var ceShimContainer = document.querySelector('#ce-es5-shim');
        ceShimContainer.parentElement.removeChild(ceShimContainer);
      }
    </script>
    <script type="text/javascript" src="bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
  </div>

  <script>
    (function() {
      document.addEventListener('WebComponentsReady', function componentsReady() {
        document.removeEventListener('WebComponentsReady', componentsReady, false);
        var script = document.createElement('script');
        script.src = '<%= htmlWebpackPlugin.files.js[0] %>';
        var refScript = document.getElementsByTagName('script')[0];
        refScript.parentNode.insertBefore(script, refScript);
      }, false);
    })();
    
  </script>
  <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>
</body>
</html>